[DEFAULT]
bot_token = use_real_token_from_your_bot

[CHANNELS]
news = real_id_number_for_my_news_telegram_channel
entertainment = real_id_number_for_my_entertainment_telegram_channel

[news1]
last = 0
url = https://www.feedforall.com/sample.xml
channel_id = ${CHANNELS:news}

[ent1]
last = 0
url = url_for_entertainment_rss_feed
channel_id = ${CHANNELS:entertaiment}

[news2]
last = 0
url = url_for_another_rss_news_feed
channel_id = ${CHANNELS:news}

